on-scroll, [v-on-scroll]{ visibility: hidden }

$aos-duration: 0.5s!default;
$aos-delay: $aos-duration/10!default;
$aos-easing: $ease-out-cubic!default;
$aos-animations-list: $animations!default;

.on-scroll{
	animation-fill-mode: both; animation-duration: $aos-duration; animation-timing-function: $aos-easing; backface-visibility: hidden;
	&--wait{ visibility: hidden }
	@each $animation in $aos-animations-list{
		$name       : nth($animation, 1);
		$properties : nth($animation, 2);
		&--#{$name}{ animation-name: $name; will-change: $properties }
	}
	&--increment{ animation-name: fade-in; will-change: opacity }
	&--stack{
		animation: none;
		> *{
			animation-fill-mode: both; animation-duration: $aos-duration; animation-timing-function: $aos-easing; backface-visibility: hidden;
			animation-name: slide-up; will-change: opacity, transform;
			@for $i from 1 through 10{

				&:nth-child(#{$i}){ animation-delay: $i*$aos-delay}
			}
		}
	}
	&--parallax{ animation: none; will-change: transform }
}