on-scroll{ visibility: hidden }

$aos-offset-rem: 8rem!default;
$aos-duration: 0.5s!default;
$aos-easing: $ease-in-out-cubic!default;
$aos-animations-list: $animations!default;

.on-scroll{
	animation-fill-mode: both; animation-duration: $aos-duration; animation-timing-function: $aos-easing; backface-visibility: hidden;
	&--wait{ visibility: hidden }
	@each $animation in $aos-animations-list{
		$name       : nth($animation, 1);
		$properties : nth($animation, 2);
		&--#{$name}{ animation-name: $name; will-change: $properties }
	}
	&--increment{ animation-name: fade-in; will-change: opacity }
	&--parallax{ animation: none; will-change: transform }
}