// Unsupported Browsers

$unsupported-browsers: ie-7, ie-8, ie-9, ie-10, ie-11, safari-4, safari-5, safari-6, safari-7, safari-8, safari-9, safari-10!default;
$unsupported-text-en: 'Website currently unavailable on this browser.\AYou can access it from Edge, Chrome, Firefox or Safari on versions greater than 10.'!default;
$unsupported-text-fr: 'Ce site est actuellement indisponible sur ce navigateur.\AVous pouvez y accéder depuis Edge, Chrome, Firefox ou Safari sur les versions supérieures à 10.'!default;

@if $unsupported-browsers{

  %unsupported-browser{
    height: 100%;
    body{
      height: 100%;
      > *, &:before{ display: none!important; visibility: hidden!important }
      &:after{
        position: absolute; left: 0; width: 100%; top: 50%; margin-top: -0.5em;content:$unsupported-text-en;
        line-height: 150%; text-align: center; font-size: 15px; z-index: 9999; white-space: pre-wrap; font-weight: normal;
        [lang="fr"] &{ content: $unsupported-text-fr }
      }
    }
  }

  @each $unsupported-browser in $unsupported-browsers
  {
    html.#{$unsupported-browser}{ @extend %unsupported-browser }
  }
}