// Unsupported Browsers

$unsupported-browsers: ie7, ie8, ie9, ie10, safari-4, safari-5, safari-6, safari-7, safari-8, safari-9, safari-10!default;
$unsupported-text-en: 'Your browser is too old and not supported anymore.'!default;
$unsupported-text-fr: 'Votre navigateur web n\'est pas supporté par ce site, veuillez le mettre à jour.'!default;

@if $unsupported-browsers{

  %unsupported-browser{
    height: 100%;
    body{
      height: 100%;
      > *, &:before{ display: none!important; visibility: hidden!important }
      &:after{
        position: absolute; left: 0; width: 100%; top: 50%; margin-top: -0.5em;
        content:$unsupported-text-en;
        font-family: Arial, sans-serif; text-align: center; font-size: 12px;
        [lang="fr"] &{ content: $unsupported-text-fr }
      }
    }
  }

  @each $unsupported-browser in $unsupported-browsers
  {
    html.#{$unsupported-browser}{ @extend %unsupported-browser }
  }
}