//v1.0
@mixin animations-keyframes {

  $animation-offset-rem: 6rem !default;
  $animation-offset: 50% !default;

  @keyframes fade-in { 0%{ opacity: 0 } 100%{ opacity: 1 } }
  @keyframes fade-out { 0%{ opacity: 1 } 100%{ opacity: 0 } }
  @keyframes slide-down { 0%{ opacity: 0; transform: translateY(-$animation-offset-rem) } 100%{ opacity: 1; transform: none }}
  @keyframes unslide-up { 100%{ opacity: 0; transform: translateY(-$animation-offset-rem) } 0%{ opacity: 1; transform: none }}
  @keyframes slide-up { 0%{ opacity: 0; transform: translateY($animation-offset-rem) } 100%{ opacity: 1; transform: none }}
  @keyframes unslide-down { 100%{ opacity: 0; transform: translateY($animation-offset-rem) } 0%{ opacity: 1; transform: none }}
  @keyframes slide-right { 0%{ opacity: 0; transform: translateX(-$animation-offset-rem) } 100%{ opacity: 1; transform: none }}
  @keyframes unslide-left { 100%{ opacity: 0; transform: translateX(-$animation-offset-rem) } 0%{ opacity: 1; transform: none }}
  @keyframes slide-left { 0%{ opacity: 0; transform: translateX($animation-offset-rem) } 100%{ opacity: 1; transform: none }}
  @keyframes unslide-right { 100%{ opacity: 0; transform: translateX($animation-offset-rem) } 0%{ opacity: 1; transform: none }}

  @keyframes slide-from-top { 0%{ transform: translateY(-100%) } 100%{ transform: none }}
  @keyframes slide-from-bottom { 0%{ transform: translateY(100%) } 100%{ transform: none }}
  @keyframes slide-from-left { 0%{ transform: translateX(-100%) } 100%{transform: none }}
  @keyframes slide-from-right { 0%{ transform: translateX(100%) } 100%{ transform: none }}

  @keyframes slide-to-top { 0%{ transform: none } 100%{ transform: translateY(-100%) }}
  @keyframes slide-to-bottom { 0%{ transform: none } 100%{ transform: translateY(100%) }}
  @keyframes slide-to-left { 0%{ transform: none } 100%{ transform: translateX(-100%) }}
  @keyframes slide-to-right { 0%{ transform: none } 100%{ transform: translateX(100%) }}

  @keyframes fade-from-top { 0%{ opacity:0; transform: translateY(-100%) } 100%{ transform: none }}
  @keyframes fade-from-bottom { 0%{ opacity:0; transform: translateY(100%) } 100%{ transform: none }}
  @keyframes fade-from-left { 0%{ opacity:0; transform: translateX(-100%) } 100%{transform: none }}
  @keyframes fade-from-right { 0%{ opacity:0; transform: translateX(100%) } 100%{ transform: none }}

  @keyframes fade-to-top { 0%{ transform: none } 100%{ opacity:0; transform: translateY(-100%) }}
  @keyframes fade-to-bottom { 0%{ transform: none } 100%{ opacity:0; transform: translateY(100%) }}
  @keyframes fade-to-left { 0%{ transform: none } 100%{ opacity:0; transform: translateX(-100%) }}
  @keyframes fade-to-right { 0%{ transform: none } 100%{ opacity:0; transform: translateX(100%) }}

  @keyframes zoom-in { 0%{ opacity: 0; transform: scale(0.8) } 100%{ opacity: 1; transform: none }}
  @keyframes scale { 0%{ transform: scale(0) } 100%{ transform: none }}
  @keyframes zoom-out { 0%{ opacity: 1; transform: none } 100%{ opacity: 0; transform: scale(0.8) }}
  @keyframes unzoom-in { 0%{ opacity: 0; transform: scale(1.2) } 100%{ opacity: 1; transform: none }}
  @keyframes unzoom-out { 0%{ opacity: 1; transform: none } 100%{ opacity: 0; transform: scale(1.2) }}
  @keyframes rotate-x { 0%{ opacity: 0; transform: perspective(400px) rotateX(-90deg) } 100%{ opacity: 1; transform: perspective(400px) }}
  @keyframes rotate-y { 0%{ opacity: 0; transform: perspective(400px) rotateY(90deg) } 100%{ opacity: 1; transform: perspective(400px) }}
  @keyframes pop { 0%{ opacity: 0; transform: scale(0,0) } 40%{ opacity: 1 } 60%{ transform: scale(0.9, 1.02) } 80%{ transform: scale(1.02, 0.98) } 100%{ transform: none }}
  @keyframes enlarge { 0%{ width: 0 } 100%{ width: 100% } }

  @keyframes appear {
    0%{ transform:scaleX(0); transform-origin: left } 50%{ transform: scaleX(1); transform-origin: left }
    50.1%{ transform: scaleX(1); transform-origin: right } 100%{ transform: scaleX(0); transform-origin: right }
  }
  @keyframes disappear {
    100%{ transform:scaleX(0); transform-origin: left } 50.1%{ transform: scaleX(1); transform-origin: left }
    50%{ transform: scaleX(1); transform-origin: right } 0%{ transform: scaleX(0); transform-origin: right }
  }
}

$include-animations : false!default;

@if( $include-animations ){
  @include animations-keyframes;
}

// repeat name and animated properties

$animations :
        fade-in     'opacity',
        fade-out    'opacity',
        slide-down  'opacity, transform',
        slide-up    'opacity, transform',
        slide-left  'opacity, transform',
        slide-right 'opacity, transform',
        zoom-out    'opacity, transform',
        zoom-in     'opacity, transform',
        unzoom-in   'opacity, transform',
        unzoom-out  'opacity, transform',
        rotate-x    'opacity, transform',
        rotate-y    'opacity, transform',
        pop         'opacity, transform',
        enlarge     'width';

